<%- include('header'); -%>
<div class="panel">
	<div class="panel-heading">
		<h3 class="panel-title">Quản lý suất chiếu</h3>
		<div class="right">
			<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
			<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
		</div>
	</div>
	<div class="panel-body no-padding">
		<div class="col-md-12">
			<form id="addNewShowtime" onsubmit="return false">
				<div class="form-group">
					<label for="movie">Phim</label>
					<select id="movie" name="movie" class="form-control" required>
						<option value="" hidden disabled selected>Chọn phim</option>
						<% allMovies.forEach((movie) => { %>
							<option value="<%= movie._id %>"><%= movie.Name %></option>
						<% }) %>
					</select>
				</div>
				<div class="form-group">
					<label for="cinema">Rạp chiếu</label>
					<select id="cinema" name="cinema" class="form-control" required>
						<option value="" hidden disabled selected>Chọn rạp</option>
						<% allCinemas.forEach((cinema) => { %>
						<option value="<%= cinema._id %>"><%= cinema.Name %></option>
						<% }) %>
					</select>
				</div>
				<div class="form-group">
					<label for="datetime">Giờ chiếu</label>
					<input id="datetime" class="form-control" type="datetime-local" name="datetime" required>
				</div>

				<div class="col-md-4" style="float:right;margin-bottom: 2%;">
					<a style="margin-right: 5%;" href="/showtimes/" class="col-md-4 btn btn-light">Hủy</a>
					<button type="submit" class="col-md-6 btn btn-primary">Thêm</button>
				</div>
			</form>
		</div>
	</div>
	<div class="panel-footer">
		<div class="row">
			<div class="col-md-6"><span class="panel-note"><i class="fa fa-clock-o"></i></span></div>
		</div>
	</div>
</div>
<%- include('footer'); -%>