<%- include('header'); -%>
<div class="panel">
	<div class="panel-heading">
		<h3 class="panel-title">Tất cả tài khoản</h3>
		<div class="right">
			<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
			<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
		</div>
	</div>
	<div class="panel-body no-padding">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Mã tài khoản</th>
					<th>Tên tài khoản</th>
					<th>Tên nhân viên</th>
					<th>Giới tính</th>
					<th>Số điện thoại</th>
					<th>Chi tiết</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% let count = 0; %>
				<% allaccounts.forEach((account) => { %>
				<% count += 1; %>
				<tr>
					<td>00<%= count %></td>
					<td><%= account.Username %></td>
					<td><%= account.Name %></td>
					<td><%= account.Gender == true ? "Nữ" : "Nam" %></td>
					<td><%= account.Phone %></td>
					<td><a href="/staff/detail?id=<%= account._id %>">Thay đổi</a></td>
					<td><a style="cursor: pointer;" onclick="javascript:confirmBoxAccount('<%= account._id %>')">&#x2716;</a></td>
				</tr>
				<% }) %>
			</tbody>
		</table>
	</div>
	<div class="panel-footer">
		<div class="row">
			<div class="col-md-6"><span class="panel-note"></span></div>
			<div class="col-md-6 text-right"><a href="/staff/addPage" class="btn btn-primary">+</a></div>
		</div>
	</div>
</div>

<%- include('footer'); -%>