<%- include('header'); -%>
<div class="panel">
	<div class="panel-heading">
		<h3 class="panel-title">Quản lý ưu đãi</h3>
		<div class="right">
			<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
			<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
		</div>
	</div>
	<div class="panel-body no-padding">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>STT</th>
					<th style="width:180px">Tên ưu đãi</thstyle="width:400px">
					<th style="width:390px">Mô tả</th>
					<th style="width:120px">Khuyến mãi</th>
					<th>Ngày hết hạn</th>
					<th>Xóa</th>
				</tr>
			</thead>
			<tbody>
				<% let count = 0; %>
				<% allSales.forEach((sale) => { %>
				<% count += 1; %>
				<% const date = sale.DueDate %>
				<% let day="", month="", year="" %>
				<% if (date) { %>
				<% day = date.getDate(); %>
				<% month = date.getMonth() + 1; %>
				<% year = date.getFullYear(); %>
				<% } %>
				<tr>
					<td><%= count %></td>
					<td><%= sale.Name %></td>
					<td><%= sale.Description %>
					</br><b>Điều kiện áp dụng:</b> <%= sale.Condition %></td>
					<td><%= sale.Discount %></td>
					<% if (date) { %>
						<td><%= day %>/<%= month %>/<%= year %></td>
					<% } else { %>
						<td></td>
					<% } %>
					<td><a style="cursor: pointer;" onclick="javascript:confirmBox('<%= sale._id %>')">&#x2716;</a></td>
				</tr>
				<% }) %>
			</tbody>
		</table>
	</div>
	<div class="panel-footer">
		<div class="row">
			<div class="col-md-6"><span class="panel-note"><i class="fa fa-clock-o"></i></span></div>
			<div class="col-md-6 text-right"><a href="/sales/add" class="btn btn-primary">Thêm ưu đãi</a></div>
		</div>
	</div>
</div>
<%- include('footer'); -%>