<%- include('header'); -%>
<div class="panel">
	<div class="panel-heading">
		<h3 class="panel-title">Quản lý ưu đãi</h3>
		<div class="right">
			<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
			<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
		</div>
	</div>
	<div class="panel-body no-padding">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>STT</th>
					<th>Phim</th>
					<th>Rạp</th>
					<th>Thời gian</th>
					<th>Xóa</th>
				</tr>
			</thead>
			<tbody>
				<% let count = 0; %>
				<% allShowtimes.forEach((show) => { %>
				<% count += 1; %>
				<% let day='',month='',year='',hour='',minute='' %>
				<% const date = show.Time %>
				<% if (date) { %>
				<% hour = date.getHours(); %>
				<% minute = date.getMinutes(); %>
				<% day = date.getDate(); %>
				<% month = date.getMonth() + 1; %>
				<% year = date.getFullYear(); %>
				<% } %>
				<tr>
					<td><%= count %></td>
					<td><%= MovieList[count-1] %></td>
					<td><%= CinemaList[count-1] %></td>
					<td><%= hour %>:<%= minute %>, <%= day %>/<%= month %>/<%= year %></td>
					<td><a style="cursor: pointer;" onclick="javascript:confirmShowtimeBox('<%= show._id %>')">&#x2716;</a></td>
				</tr>
				<% }) %>
			</tbody>
		</table>
	</div>
	<div class="panel-footer">
		<div class="row">
			<div class="col-md-6"><span class="panel-note"><i class="fa fa-clock-o"></i></span></div>
			<div class="col-md-6 text-right"><a href="/showtimes/add" class="btn btn-primary">Thêm suất chiếu</a></div>
		</div>
	</div>
</div>
<%- include('footer'); -%>